services:
  mongo:
    image: mongo:6
    container_name: mongo
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-init:
    image: mongo:6
    depends_on:
      mongo:
        condition: service_healthy
    entrypoint: >
      bash -c "
        mongosh --host mongo --eval '
          rs.initiate({
            _id: \"rs0\",
            members: [{ _id: 0, host: \"mongo:27017\" }]
          })
        ' || true
      "

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  backend:
    build:
      context: ./banking-system/banking-system
    container_name: banking-backend
    ports:
      - "8081:8081"
    depends_on:
      mongo:
        condition: service_healthy
      kafka:
        condition: service_started
    restart: always
    environment:
      JWT_SECRET: capstone-dev-secret-key-capstone-dev-secret
      MONGO_URI: mongodb://mongo:27017/bankingdb?replicaSet=rs0
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  frontend:
    build:
      context: ./banking-system-frontend
    container_name: banking-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://backend:8081/api

volumes:
  mongo_data:
